doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='index.css')
  title Prestamos
.main
  h1.main-title Pedir prestamo
  form(action='submit' method='POST')
    label(for='nombre') Nombre completo
    input#nombre(required='' type='text' name='nombre' placeholder='Su nombre aqui')
    label(for='email') Direccion de correo
    input#correo(required='' type='email' name='correo' placeholder='Direccion de correo valida')
    label(for='estimado') Tiempo en que estima entregar
    input#estimado(required='' type='date' name='fecha' value='2021-01-11' min='2021-01-01' max='2030-12-31')
    label(for='articulo') Articulo que desea prestar
    select#articulo(name='articulo')
      each equipo, index in equiposNew
        if equipo == 'No disponible'
          option(value=index disabled) #{equipo}
        else
          option(value=index) #{equipo}
    input(type='submit' value='Pedir')
table
  tr.first
    th Nombre
    th Correo electronico
    th Fecha de solicitud
    th Tiempo estimado
    th Articulo
    th Aprobado
  each prestamo, index in prestamos  
    tr
        td #{prestamo.nombre}
        td #{prestamo.correo}
        td #{prestamo.fechain}
        td #{prestamo.fecha}
        td #{equipos[prestamo.articulo]}
        if prestamo.aprobado
            td Si
        else
            td No
    
